@font-face {
  font-family: 'Inter';
  src:  local('Inter'), 
        url(../assets/Inter-Medium.ttf) format('truetype'),
        url(../assets/Inter-SemiBold.ttf) format('truetype');
}

$main-background-color: #1e4a89;
$secondary-background-color: #0e1d51;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background-image: url("../assets/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; // scroll, fixed ??  
  background-position: center; 

  background-color: rgba(38, 38, 38, 0.416);  
  background-blend-mode: multiply;
  
  box-sizing: border-box;
  overflow: visible; // scroll, auto, clip, hidden, visible
  position: relative;

  color: white;
  font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: stretch;
  // align-content: space-between;


  // --gridHeight: 120px;
  // --wrapperH: 40px; // for demonstrating the use of CSS Variables
}
.header {
  height: 8rem;
  overflow: hidden;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  // width: 100%;

  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
}
.footer {
  height: 8rem;
  flex-shrink: 10;
}

.glass-container {
  background: rgba(178, 178, 178, 0.315);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(73, 73, 73, 0.25);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.494);
  
  align-self: center;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem;
  min-width: 45%;
  margin: 0 1%;
  min-height: 33%;
  display: grid;
}
.glass-container--grid-3 {
  grid-template-rows: repeat(3, 1fr);
}
.glass-container--grid-2 {
  grid-template-rows: 4rem auto;
  padding-top: 2rem;
  align-items: start;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: stretch;
  margin: 0 1rem 0 1rem;
}
.dropdown__label {
  font-size: 1rem;
  text-align: left;
}
.dropdown__button {
  position: relative;
  text-align: left;
  width: 100%;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown__button--secondary {
  border: none;
  height: 2.3rem;
  line-height: 2.3rem;
  margin: 0 0 0 0;
}
.dropdown__button--secondary:hover {
  background-color: #5ea4ff;
  border-radius: 0%;
}
.dropdown__inner-text {
  font-size: 1rem;
  margin-left: 0.8rem;
  color: #383838;
}
.dropdown__arrow-symbol {
  font-size: 1.5rem;
  margin-right: 0.8rem;
  color: #383838;
  margin-bottom: 0.5rem;
}
.dropdown__inner-text--secondary {
  font-size: 0.8rem;
  margin-left: 0.8rem;
  color: #383838;
}
.dropdown__list-container {
  position: absolute;
  top: 3rem;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}
.dropdown__list-container::before {
  content: '';
  position: absolute;
  height: 2rem;
  top: -1rem;
  width: 100%;
  background-color: white;
}
.dropdown__list-container::after {
  content: '';
  position: absolute;
  height: 1.5rem;
  bottom: -0.5rem;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  z-index: -1;
}

.text {
  font-size: 1.7rem;
  margin: 0;
}
.text--services {
  font-size: 1.5rem;
}

.arrow {
  position: absolute;
  top: 40%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.arrow--left {
  left: 4%;
}
.arrow--right {
  transform: rotate(180deg);
  right: 4%;
}
.arrow__icon {
  width: 1.5rem;
  aspect-ratio: 1 / 1; 
}

.schedule {
  display: flex;
  flex-direction: column;
}
.schedule > * {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0;
}

.services {
  display: grid;
  grid-template-rows: repeat(var(--rowNum), 1fr);
  grid-template-columns: repeat(var(--colNum), 1fr);
}

.button {
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 5rem;
  margin: 0.6rem;
}
.button--services {
  min-width: 8rem;
  min-height: 3rem;
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-background {
  cursor: pointer;
  display: flex;
  background-color: white;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: 10px;
  border: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.icon-background--arrow {
  position: absolute;
  left: 20px;
  top: 30px; 
  width: 60px;
  height: 60px;
}
.icon-button {
  height: 35px;
  max-width: 35px;
  border: 1.5px solid #696969;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: auto;
}
.icon-button--arrow {
  border: 0;
  height: 45px;
  max-width: 45px;
}
// .icon-button--absolute::before {
//   content: '';
//   position: absolute;
//   left: 17px;
//   top: 20px;
//   width: 1.2em;
//   height: 1.2em;
//   border: solid $main-background-color;
//   border-width: 0 0 4px 4px;
//   transform: rotate(45deg);
// }
// .icon-button--absolute::after {
//   content: '';
//   position: absolute;
//   left: 17px;
//   top: 9px;
//   width: 2.1em;
//   height: 1.4em;
//   border: solid $main-background-color;
//   border-width: 0 0 4px 0;
// }





.horisontal-group {
  display: flex;
  position: relative;
}

.document-items {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 18px;
}
.document-items > * {
  margin: 3px;
}

.service-menu-groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.single-character-input {
  height: 60px;
  width: 60px;
  margin: 10px;
  border: 0;
  border-radius: 12px;
  font-size:40px;
  text-align: center;
}

.image-in-box {
  margin: auto 10% 10% auto;
  max-width: 70%;
  max-height: 50%;
}

.checkbox-container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}
.checkbox-container label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.checkbox-container label::before {
  content: '';
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.4em;
  margin-right: 0.5em;
  border: 0.15em solid white;
}
.checkbox-container input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.checkbox-container input[type='checkbox']:checked + label::after {  
  content: '';
  position: absolute;
  left: 10px;
  top: 4px;
  width: 0.35em;
  height: 0.75em;
  margin-right: 0.5em;
  border: 0.15em solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.logo-custom {
  content: '';
  // position: absolute;
  width: 3em;
  height: 3em;
  border: 2em solid white;
  border-width: 8px;
  // opacity: 0.2;
  margin-right: 25px;
  background-color: $secondary-background-color;
}
.logo-custom::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 4px;
  width: 1.8em;
  height: 1.8em;
  border: 2em solid white;
  border-width: 0 7.5px 7.5px 0;
  transform: rotate(-45deg);
  margin-right: 30px;
}
.logo-custom::after {
  content: '';
  position: absolute;
  width: 2.2em;
  height: 2.2em;
  border: 2em solid $secondary-background-color;
  border-width: 6.5px;
}